Server/Service References/RegistryServiceReference/Registry2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Splash.ServiceRegistry" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Splash.ServiceRegistry" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Registry?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Splash.RemoteServiceContract" />
  <xs:complexType name="StringRequestStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Splash.RemoteServiceContract" minOccurs="0" name="Status" type="q1:RequestStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringRequestStatus" nillable="true" type="tns:StringRequestStatus" />
</xs:schema>